body {
    margin: 0;
    background: #000000;
    font-family: 'Quicksand', sans-serif;
}


/* TITLE SIGNUP & LOGIN */

.Container__Title {
    display: flex;
}

.Title__WeCreative,
.Title__WeCreative-sub {
    font-family: 'Quicksand', sans-serif;
    color: #B1B1B1;
    font-weight: 900;
    font-size: 15vh;
    text-align: center;
    word-spacing: 10px;
}

.Title__WeCreative-sub {
    font-weight: 100;
    margin-left: 20px;
}

/* LOGIN */

.Wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Login {
    background-image: url(IMG/backgroundImgLogIn.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
}


/* FORM LOGIN*/

#Form__Login {
    display: flex;
    flex-direction: column;
    padding: 2.2rem;
    background-color: rgba(0, 0, 0, 0.8);
}

.Form__Login-link {
    text-decoration: none;
    color: #5d5d5d;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.Form__Login-button {
    background-color: rgba(0, 0, 0, 0.0);
    color: #fefefe;
    border-color: rgba(0, 0, 0, 0.0);
    padding: 1rem;
    margin-top: 30px;
}

input,
create-login-form {
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;
    margin-top: 20px;
}


/* SIGNUP */

.Signup {
    background-image: url(./IMG/backgroundImgSignUp.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
}

#Form__Signup {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
}

input,
create-user-form {
    margin: 1vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5vh;
}

input[type=Submit] {
    background-color: rgba(0, 0, 0, 0.0);
    color: #fefefe;
    border-color: rgba(0, 0, 0, 0.0);
    padding: 1rem;
}


/* HIDE ERROR */

.hide {
    font-family: 'Quicksand', sans-serif;
    color: red;
    text-align: center;
}


/* PROFILE */

.Profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(IMG/backgroundImgProfile.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
}


/* PROFILE LEFT SIDE */

.temporary {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.637);
    height: 800px;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 40%;
}

.Profile__Container-left {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.637);
    height: 800px;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 40%;
    position: fixed;
}

.Profile__Left-headline {
    color: #ffffff;
    font-size: 35px;
    font-weight: 100;
}

/* UPLOAD PROFILEPICTURE */

.Profile__Form-uploadImg {
    display: flex; 
    flex-direction: column;
    margin-bottom: 20px; 
}

.Profile__Upload-profilePicture {
 padding: 10px; 
}


input[type="file"] {
     text-align: center;
     color: white; 
}

.Profile__Upload-profilePicture-Custom {
    display: flex; 
    flex-direction: column;
    cursor: pointer;
    display: inline-block; 
    color: white; 
    text-align: center;
    background: rgba(43, 43, 43, 0.637);
}

.Insert-profilePicture__Container {
    width: 230px; 
    height: 160px; 
}

.UserProfilePicture {
    width: 230px; 
    height: 160px; 
}

/* UPLOAD MUSIC */ 
.Profile__Left-button {
    border-style: none;
    font-size: 20px;
    width: 400px;
    padding: 10px;
    margin: 15px;
    font-size: 20px; 
    width: 230px; 
    padding: 10px; 
    margin: 15px; 
}


/* PROFILE RIGHT SIDE */

.Profile__Container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.Profile__Right-headline {
    padding: 0px;
    margin-bottom: 0;
    color: #B1B1B1;
    font-weight: 100;
    font-size: 80px;
    align-items: center;
    word-spacing: 10px;
}

.Profile__Right-paragraph {
    font-size: 30px;
    font-weight: 100;
    color: #B1B1B1;
}

/* EDIT BUTTON */
/* HIDE AND SHOW CLASS */ 

.Toggle__Edit {
    display: none; 
    background: rgba(0, 0, 0, 0.637);
    height: 150px;
    margin: 10px; 
    margin-top: 40px; 
    position: absolute;
    z-index: 1;
}

.Toggle__Edit-paragraph, .Toggle__Delete-paragraph {
    color: #ffffff; 
    cursor: pointer; 
    font-size: 20px; 
    padding: 5px; 
    margin: 10px; 
}

.Toggle__Edit-paragraph:hover {
    color: #8b8b8b; 
}

.Toggle__Delete-paragraph:hover {
    color: #8b8b8b; 
}

.ProfilePost__Post__Btn-container {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
    margin-right: 20px;
    position: relative;
}

.ProfilePost__Btn {
    height: 10px; 
    width: 10px; 
    border-radius: 100%;
    margin: 2px; 
    margin-top: 20px; 
    cursor: pointer; 
    background: #999999; 
}

/* FORM - PROFILE*/

.Profile__Right-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.Profile__Right-Form-inputTitle {
    padding: 15px;
    margin: 10px;
}

.Profile__Right-Form-inputContent {
    height: 250px; 
}

.Profile__Right-Form-button {
    flex-direction: row;
    text-align: center;
}


/* PROFILE - Right POST */

.ProfilePost {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.Posts__Container-right {
    margin-left: 500px; 
    margin-top: 5px; 
    width: 55%;
}

/* CREATE POST */
.Posts {
    background: #1B1B1B;
    height: auto;
    margin-top: 20px; 
}


.Profile__ToFeed-link {
    text-decoration: none;
    color: #ffffff; 
    margin-left: 500px;
}

.ProfilePost__Headline {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    padding: 20px;
    margin: 0;
}

.ProfilePost__Paragraph {
    font-size: 20px;
    color: #ffffff;
    padding: 30px;
}


/* ALL BUTTONS */

button {
    border-style: none;
    font-size: 25px;
    width: 200px;
    padding: 10px;
    margin: 15px;
}

/* FEED */ 

.Feed__headline {
    text-align: center;
    color: #ffffff; 
    font-size: 100px; 
    padding: 20px; 
    font-weight: 100;
}

.FeedPosts__Container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.FeedPost {
    display: flex; 
    width: 50%; 
}

.FeedPost__Container {
    justify-content: center;
    height: auto;
    margin: 20px; 
    background: #1B1B1B; 
}

.FeedPost__Headline {
    color: #ffffff; 
    text-align: center;
    font-size: 40px; 
    font-weight: 100;
    margin: 0; 
    padding: 0; 
    padding: 20px; 
}

.FeedPost__Paragraph {
    font-size: 20px; 
    color: #ffffff; 
    padding: 30px; 
}

/* FOOTER */

footer {
    font-family: 'Quicksand', sans-serif;
    color: #b1b1b1;
    display: flex;
    margin-left: 50px;
    width: 95%;
    height: auto;
}

.hidden{
    display: none;
}

.TemporaryNav{
    display: flex;
    justify-content: center;
}

a {
    color: blue; 
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    /* background-color: #494949; */
}


